.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    color: #fff;
    background: #222;
    
}


p, li {
    color: #ddd;
}

.value-box .icon i {
    top: 25px;
    right: 15px;
    font-size: 60px;
}



.fa-check {
  color:#6f4c34 !important;
}

.fa-procedures{
  color: #1f4a49 !important;
}

.fa-skull{
  color:#672223 !important;
}

.fa-heart{
  color:#31542c !important;
}

.fa-flag {
  color:#2a3158 !important;
}

.navbar-inverse {
    background-color: #222;
    border-color: #2d2d2d;
}

 .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
    background: rgb(111, 51, 51);
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

/* .leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: #222 !important;
	background-color: #222 !imporatant;
	color: #fff;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
*/


body {
    background: #000;
}


.chart-wrapper, .nav-tabs-custom, .sbframe-commentary {
    background: #222;
    border: 1px solid #212020;
}

.chart-title {
    border-bottom: 1px solid #000000;
}


.table>thead>tr>th {
    border-bottom: 2px solid #000000;
}

.bootstrap-table table>thead {
    background-color: #262626;
    color: #fff;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #262626;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #262626;
    color: #fff;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #000000;
     color: #c3c3c3;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #333;
}


.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #151313;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}

.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #444;
    border-bottom: 1px solid #222;
}

